
<mat-toolbar  style ="background:blue">
   
    <mat-toolbar-row>
        <a  class ="gap" [routerLink]="''" mat-button>MapMCQToSME</a>
        <a  class ="gap" [routerLink]="''" mat-button>TriggerAnnouncements</a>
    <a class ="gap" [routerLink]="'/triggermail'" mat-button>TriggerMails</a>
    <a class = "gap" [routerLink]="'/dashboard'"mat-button> Dashboard</a>
    <a class = "gap" [routerLink]="'/dashboard'"mat-button> Trigger Announcements</a>
    <a class ="endicon" [routerLink]="'/logoff'" mat-button> signOut</a>
    
    </mat-toolbar-row>


</mat-toolbar>
