form {
	width: 900px;
    margin: 0 auto;
    padding:100px
    
}
h1 {
	color : #000000;
	text-align : center;
    font-family: "SIMPSON";
    padding: 300px
}

body {
		margin: 0;
	padding: 0;
}
input {
    border-radius: 12px;
}
.button {
    background-color:#1569C7;
    border: none;
    color: white;
    padding: 10px;
    width:100px;
  text-align: center;
  border-radius: 12px;
    
  }