
 <mat-toolbar  style ="background:blue">
    <mat-toolbar-row>
        <marquee style="font-size: 20px;color:white">Hi Admin !!  Welcome to cognizant QBTHON portal</marquee>
           </mat-toolbar-row>
    <mat-toolbar-row>
        <a  class ="gap" [routerLink]="'/EventsdayAdmin'" mat-button>EventDAy</a>
    

        
        <a   class ="gap" [routerLink]="'/eventsAdmin'" mat-button>CreateEvent</a>
        
    <a class ="gap" [routerLink]="'/triggermail'" mat-button>TriggerMails</a>
   
    <a class = "gap" [routerLink]="'/dashboard'"mat-button> Dashboard</a>
    <a class ="endicon" [routerLink]="'/logoff'" mat-button> signOut</a>
    </mat-toolbar-row>


</mat-toolbar>

<br>
<br>
<form [formGroup]="templatecreateform" >
<div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start">
    <div fxFlex="0 1 calc(25% - 32px)">
        <label><b>Template Type</b></label>
        <input type ="text" formControlName="templatetype" class ="select-class" [(ngModel)]="templatetype">
        </div>
        <div fxFlex="0 1 calc(25% - 32px)">
            <label><b>From Adress</b></label>
            <input type ="text" formControlName ="from" class ="select-class" [(ngModel)]="from">
            </div>
            <div fxFlex="0 1 calc(25% - 32px)">
                <label><b>Subject</b></label>
                <input type ="text" formControlName ="subject" class ="select-class" [(ngModel)]="subject">
                </div>
                </div>
<br>
<br>
                <div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start">
                    <div fxFlex="0 1 calc(35% - 32px)">
                        <label for="file"><b>Select email body html</b></label>
                        <input type="file" style="width:200px"  (change)="uploadbody($event)" >  
                        </div>
                        <div fxFlex="0 1 calc(35% - 32px)">
                            <label for="file"><b>Add Attachments</b></label>
                            <input type="file" style="width:200px"  title=" " (change)="uploadattachment($event)" multiple/>  
                            </div> 
                            

                            </div>

                            <div fxLayout="row wrap" fxLayoutGap="32px" fxLayoutAlign="flex-start">

                            <div fxFlex="0 1 calc(25% - 32px)"> 
                             <button  class="button btn btn-primary" (click)= "saveTemplate()">Submit</button>
                             </div> 
                             </div>
                             </form>

                            
                        
                        

