<mat-toolbar  style ="background:blue">
    <mat-toolbar-row>
        <marquee style="font-size: 20px;color:white">Hi User !!  Welcome to cognizant QBTHON portal</marquee>
           </mat-toolbar-row>
    <mat-toolbar-row>
        <a  class ="gap" [routerLink]="'/EventsdayUser'" mat-button>EventDAy</a>
        <a  class ="gap" [routerLink]="'/nominate'" mat-button>Nominate</a>
    <a class ="gap" [routerLink]="'/eventsInfo'" mat-button>EventsInfo</a>
    <a class ="gap" [routerLink]="'/practiseMCQ'" mat-button>PractiseMCQ</a>
    <a class = "gap" [routerLink]="''"mat-button> MCQDos</a>
    <a class = "gap" [routerLink]="''"mat-button> MCQDonts</a>
    <a class ="endicon" [routerLink]="''" mat-button> signOut</a>
    </mat-toolbar-row>


</mat-toolbar>

